    <script>
        if('serviceWorker' in navigator){
            navigator.serviceWorker.register('/service-worker.js');
        }
    </script>
    <script src="/js/loader.js"></script>
	</body>
</html>
