<html>
	<head>
		<title>My Express App</title>
        <link rel="stylesheet" href="/css/styles.css">
	</head>
	<body>
    <section class="top">
        <header>
            <a href="/">
                <img src="/img/fundawonen-logo.svg" alt="">
            </a>
        </header>
    </section>
