html, body {
  width: 100%;
  height: 100%;
  color: #333;
  font-size: 16px;
  font-weight: 300;
  line-height: 1.6;
  overflow-x: hidden;
  margin: 0;
  padding: 0;
}

/* Top */
.top {
  background: #F7A100;
}

.top header {
  width: 70em;
  margin: 0 auto;
  padding: 0.5em 0;
}

.top a {
  width: 15%;
  display: block;
}

.top img {
  width: 100%;
  display: block;
}

header {
  text-align: center;
  margin-bottom: 2em;
}

header form input {
  max-width: 30%;
  padding: 1em 0;
  border-radius: 5px 5px 0 0;
  border: none;
  border-bottom: 1px solid #333;
  font-size: 1.1em;
}

@media (max-width: 600px) {
  header form input {
    max-width: 100%;
  }
}

main h1 {
  text-align: center;
}

main {
  max-width: 70em;
  width: 100%;
  height: 100%;
  margin: 0 auto;
}

#overview {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
}

main a {
  text-decoration: none;
  color: #333;
  width: 32%;
}

main h2 {
  font-size: 1.4em;
  color: #333;
}

.image-wrapper {
  position: relative;
  height: 0;
  overflow: hidden;
  background-color: #9d9d9d;
  padding-bottom: 66%;
}

main a img {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width:100%;
}

main ul {
  padding: 0;
}

main ul li {
  list-style: none;
}

#detail img {
  float: left;
  margin-right: 2em;
}

/* loading icon */
.loader-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100vw;
  height: 100vh;
  background: #e6f2f7;
  z-index: 5;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.loader,
.loader:after {
  border-radius: 50%;
  width: 10em;
  height: 10em;
}

.loader {
  margin: 2em auto;
  font-size: 0.7em;
  position: relative;
  text-indent: -9999em;
  border: 1.1em solid rgba(0, 0, 0, 0.2);
  border-left: 1.1em solid #F7A100;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-animation: load 1.1s infinite linear;
  animation: load 1.1s infinite linear;
}

@-webkit-keyframes load {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@keyframes load {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

.hide {
  display: none;
}

.show {
  display: block;
}
